In [1]:
# SQLAlchemy
import pandas as pd

In [2]:
attendance_file = "Resources/Attendance.csv"
att_data_df = pd.read_csv(attendance_file)
att_data_df.head(15)

                      TEAM  GMS   TOTAL    AVG    PCT
0            Chicago Bulls   41  888882  21680  103.6
1         Dallas Mavericks   41  811366  19789  103.1
2         Sacramento Kings   41  721928  17608  100.6
3               Miami Heat   41  805400  19643  100.2
4          Toronto Raptors   41  813050  19830  100.2
5     Los Angeles Clippers   41  782609  19088  100.1
6      Cleveland Cavaliers   41  843042  20562  100.0
7    Golden State Warriors   41  803436  19596  100.0
8    Oklahoma City Thunder   41  746323  18203  100.0
9          New York Knicks   41  810741  19774   99.8
10          Boston Celtics   41  760690  18553   99.6
11      Los Angeles Lakers   41  776917  18949   99.4
12  Portland Trail Blazers   41  792029  19317   99.4
13       San Antonio Spurs   41  755347  18423   99.2
14               Utah Jazz   41  806605  19673   98.8

In [3]:
team_file = "Resources/Team_valuations.csv"
team_data_df = pd.read_csv(team_file)
team_data_df.head()

                    TEAM  VALUE_MILLIONS
0        New York Knicks          3300.0
1     Los Angeles Lakers          3000.0
2  Golden State Warriors          2600.0
3          Chicago Bulls          2500.0
4         Boston Celtics          2200.0

In [4]:
#merge the DataFrames to one uusing inner join
merged_df = pd.merge(att_data_df,team_data_df, on = "TEAM" )
merged_df.dtypes

TEAM               object
GMS                 int64
TOTAL               int64
AVG                 int64
PCT               float64
VALUE_MILLIONS    float64
dtype: object

In [5]:
#use "{:,}"  to large numbers for easy read 
merged_df["TOTAL"] = merged_df["TOTAL"].map("{:,}".format)
merged_df["AVG"] = merged_df["AVG"].map("{:,}".format)
merged_df.head()

               TEAM  GMS    TOTAL     AVG    PCT  VALUE_MILLIONS
0     Chicago Bulls   41  888,882  21,680  103.6          2500.0
1  Dallas Mavericks   41  811,366  19,789  103.1          1450.0
2  Sacramento Kings   41  721,928  17,608  100.6          1075.0
3        Miami Heat   41  805,400  19,643  100.2          1350.0
4   Toronto Raptors   41  813,050  19,830  100.2          1125.0

In [6]:
#drop GMs column
del merged_df['GMS']
merged_df

                      TEAM    TOTAL     AVG    PCT  VALUE_MILLIONS
0            Chicago Bulls  888,882  21,680  103.6          2500.0
1         Dallas Mavericks  811,366  19,789  103.1          1450.0
2         Sacramento Kings  721,928  17,608  100.6          1075.0
3               Miami Heat  805,400  19,643  100.2          1350.0
4          Toronto Raptors  813,050  19,830  100.2          1125.0
5     Los Angeles Clippers  782,609  19,088  100.1          2000.0
6      Cleveland Cavaliers  843,042  20,562  100.0          1200.0
7    Golden State Warriors  803,436  19,596  100.0          2600.0
8    Oklahoma City Thunder  746,323  18,203  100.0          1025.0
9          New York Knicks  810,741  19,774   99.8          3300.0
10          Boston Celtics  760,690  18,553   99.6          2200.0
11      Los Angeles Lakers  776,917  18,949   99.4          3000.0
12  Portland Trail Blazers  792,029  19,317   99.4          1050.0
13       San Antonio Spurs  755,347  18,423   99.2          1175.0
14               Utah Jazz  806,605  19,673   98.8           910.0
15           Orlando Magic  727,875  17,753   94.2           920.0
16    New Orleans Pelicans  663,099  16,173   94.1           750.0
17         Houston Rockets  695,903  16,973   94.1          1650.0
18            Phoenix Suns  708,639  17,283   93.8          1100.0
19          Indiana Pacers  684,578  16,697   91.9           880.0
20       Memphis Grizzlies  677,314  16,519   91.2           790.0
21       Charlotte Hornets  710,643  17,332   90.9           780.0
22      Philadelphia 76ers  710,557  17,330   85.3           800.0
23           Atlanta Hawks  654,306  15,958   85.2           885.0
24           Brooklyn Nets  632,608  15,429   85.2          1800.0
25         Milwaukee Bucks  648,952  15,828   84.6           785.0
26      Washington Wizards  697,107  17,002   83.8          1000.0
27          Denver Nuggets  605,585  14,770   77.1           890.0
28  Minnesota Timberwolves  607,203  14,809   76.5           770.0
29         Detroit Pistons  655,141  15,979   72.4           900.0

In [7]:
#add team ticker column
team_ticker = ['CB','DM','SK','MH','TR','LAC','CC','GSW','OCT','NYK','BS','LAL','PTB','SAS','UJ','OM','NOP','HR','PS','IP','MG','CH','76ERS','AH','BN','MB','WW','DN','MT','DP']
merged_df['TEAM TICKER']=team_ticker
merged_df

                      TEAM    TOTAL     AVG    PCT  VALUE_MILLIONS TEAM TICKER
0            Chicago Bulls  888,882  21,680  103.6          2500.0          CB
1         Dallas Mavericks  811,366  19,789  103.1          1450.0          DM
2         Sacramento Kings  721,928  17,608  100.6          1075.0          SK
3               Miami Heat  805,400  19,643  100.2          1350.0          MH
4          Toronto Raptors  813,050  19,830  100.2          1125.0          TR
5     Los Angeles Clippers  782,609  19,088  100.1          2000.0         LAC
6      Cleveland Cavaliers  843,042  20,562  100.0          1200.0          CC
7    Golden State Warriors  803,436  19,596  100.0          2600.0         GSW
8    Oklahoma City Thunder  746,323  18,203  100.0          1025.0         OCT
9          New York Knicks  810,741  19,774   99.8          3300.0         NYK
10          Boston Celtics  760,690  18,553   99.6          2200.0          BS
11      Los Angeles Lakers  776,917  18,949   99.4          3000.0         LAL
12  Portland Trail Blazers  792,029  19,317   99.4          1050.0         PTB
13       San Antonio Spurs  755,347  18,423   99.2          1175.0         SAS
14               Utah Jazz  806,605  19,673   98.8           910.0          UJ
15           Orlando Magic  727,875  17,753   94.2           920.0          OM
16    New Orleans Pelicans  663,099  16,173   94.1           750.0         NOP
17         Houston Rockets  695,903  16,973   94.1          1650.0          HR
18            Phoenix Suns  708,639  17,283   93.8          1100.0          PS
19          Indiana Pacers  684,578  16,697   91.9           880.0          IP
20       Memphis Grizzlies  677,314  16,519   91.2           790.0          MG
21       Charlotte Hornets  710,643  17,332   90.9           780.0          CH
22      Philadelphia 76ers  710,557  17,330   85.3           800.0       76ERS
23           Atlanta Hawks  654,306  15,958   85.2           885.0          AH
24           Brooklyn Nets  632,608  15,429   85.2          1800.0          BN
25         Milwaukee Bucks  648,952  15,828   84.6           785.0          MB
26      Washington Wizards  697,107  17,002   83.8          1000.0          WW
27          Denver Nuggets  605,585  14,770   77.1           890.0          DN
28  Minnesota Timberwolves  607,203  14,809   76.5           770.0          MT
29         Detroit Pistons  655,141  15,979   72.4           900.0          DP

In [8]:
newteam_data=merged_df.set_index('TEAM')
newteam_data.head()

                    TOTAL     AVG    PCT  VALUE_MILLIONS TEAM TICKER
TEAM
Chicago Bulls     888,882  21,680  103.6          2500.0          CB
Dallas Mavericks  811,366  19,789  103.1          1450.0          DM
Sacramento Kings  721,928  17,608  100.6          1075.0          SK
Miami Heat        805,400  19,643  100.2          1350.0          MH
Toronto Raptors   813,050  19,830  100.2          1125.0          TR

In [9]:
newteam_data.sort_values(["VALUE_MILLIONS"], ascending = False)

                          TOTAL     AVG    PCT  VALUE_MILLIONS TEAM TICKER
TEAM
New York Knicks         810,741  19,774   99.8          3300.0         NYK
Los Angeles Lakers      776,917  18,949   99.4          3000.0         LAL
Golden State Warriors   803,436  19,596  100.0          2600.0         GSW
Chicago Bulls           888,882  21,680  103.6          2500.0          CB
Boston Celtics          760,690  18,553   99.6          2200.0          BS
Los Angeles Clippers    782,609  19,088  100.1          2000.0         LAC
Brooklyn Nets           632,608  15,429   85.2          1800.0          BN
Houston Rockets         695,903  16,973   94.1          1650.0          HR
Dallas Mavericks        811,366  19,789  103.1          1450.0          DM
Miami Heat              805,400  19,643  100.2          1350.0          MH
Cleveland Cavaliers     843,042  20,562  100.0          1200.0          CC
San Antonio Spurs       755,347  18,423   99.2          1175.0         SAS
Toronto Raptors         813,050  19,830  100.2          1125.0          TR
Phoenix Suns            708,639  17,283   93.8          1100.0          PS
Sacramento Kings        721,928  17,608  100.6          1075.0          SK
Portland Trail Blazers  792,029  19,317   99.4          1050.0         PTB
Oklahoma City Thunder   746,323  18,203  100.0          1025.0         OCT
Washington Wizards      697,107  17,002   83.8          1000.0          WW
Orlando Magic           727,875  17,753   94.2           920.0          OM
Utah Jazz               806,605  19,673   98.8           910.0          UJ
Detroit Pistons         655,141  15,979   72.4           900.0          DP
Denver Nuggets          605,585  14,770   77.1           890.0          DN
Atlanta Hawks           654,306  15,958   85.2           885.0          AH
Indiana Pacers          684,578  16,697   91.9           880.0          IP
Philadelphia 76ers      710,557  17,330   85.3           800.0       76ERS
Memphis Grizzlies       677,314  16,519   91.2           790.0          MG
Milwaukee Bucks         648,952  15,828   84.6           785.0          MB
Charlotte Hornets       710,643  17,332   90.9           780.0          CH
Minnesota Timberwolves  607,203  14,809   76.5           770.0          MT
New Orleans Pelicans    663,099  16,173   94.1           750.0         NOP

In [10]:
#import our necessary libraries 
from sqlalchemy import create_engine

In [11]:
## Create Database Connection and ensure that our table exists with create_all()
engine = create_engine('sqlite:///NBA_Social.sqlite', echo=True)

sqlite_connection = engine.connect()

2020-09-01 21:17:16,477 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-01 21:17:16,484 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:17:16,489 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-01 21:17:16,491 INFO sqlalchemy.engine.base.Engine ()

In [12]:
sqlite_table = "NBAteams"
newteam_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2020-09-01 21:17:42,152 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("NBAteams")
2020-09-01 21:17:42,154 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:17:42,157 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("NBAteams")
2020-09-01 21:17:42,161 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:17:42,167 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "NBAteams" (
	"TEAM" TEXT,
	"TOTAL" TEXT,
	"AVG" TEXT,
	"PCT" FLOAT,
	"VALUE_MILLIONS" FLOAT,
	"TEAM TICKER" TEXT
)


2020-09-01 21:17:42,170 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:17:42,200 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 21:17:42,203 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_NBAteams_TEAM" ON "NBAteams" ("TEAM")
2020-09-01 21:17:42,205 INFO sqlalchemy.engine.base.Engine ()
2020-09-01 21:17:42,237 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 21:17:42,242 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-01 21:17:42,247 INFO sqlalchemy.engine.base.Engine INSERT INTO "NBAteams" ("TEAM", "TOTAL", "AVG", "PCT", "VALUE_MILLIONS", "TEAM TICKER") VALUES (?, ?, ?, ?, ?, ?)
2020-09-01 21:17:42,250 INFO sqlalchemy.engine.base.Engine (('Chicago Bulls', '888,882', '21,680', 103.6, 2500.0, 'CB'), ('Dallas Mavericks', '811,366', '19,789', 103.1, 1450.0, 'DM'), ('Sacramento Kings', '721,928', '17,608', 100.6, 1075.0, 'SK'), ('Miami Heat', '805,400', '19,643', 100.2, 1350.0, 'MH'), ('Toronto Raptors', '813,050', '19,830', 100.2, 1125.0, 'TR'), ('Los Angeles Clippers', '782,609', '19,088', 100.1, 2000.0, 'LAC'), ('Cleveland Cavaliers', '843,042', '20,562', 100.0, 1200.0, 'CC'), ('Golden State Warriors', '803,436', '19,596', 100.0, 2600.0, 'GSW')  ... displaying 10 of 30 total bound parameter sets ...  ('Minnesota Timberwolves', '607,203', '14,809', 76.5, 770.0, 'MT'), ('Detroit Pistons', '655,141', '15,979', 72.4, 900.0, 'DP'))
2020-09-01 21:17:42,256 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-01 21:17:42,320 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2020-09-01 21:17:42,324 INFO sqlalchemy.engine.base.Engine ()

In [56]:
sqlite_connection.close()

In [35]:
from sqlalchemy.ext.automap import automap_base

In [13]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine('sqlite:///NBA_Social.sqlite')

In [50]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [51]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [52]:
# Print all of the classes mapped to the Base
Base.classes.keys()

[]

In [14]:
#Query all records

data = engine.execute ('SELECT * FROM NBAteams')

for record in data:
    print(record)

('Chicago Bulls', '888,882', '21,680', 103.6, 2500.0, 'CB')
('Dallas Mavericks', '811,366', '19,789', 103.1, 1450.0, 'DM')
('Sacramento Kings', '721,928', '17,608', 100.6, 1075.0, 'SK')
('Miami Heat', '805,400', '19,643', 100.2, 1350.0, 'MH')
('Toronto Raptors', '813,050', '19,830', 100.2, 1125.0, 'TR')
('Los Angeles Clippers', '782,609', '19,088', 100.1, 2000.0, 'LAC')
('Cleveland Cavaliers', '843,042', '20,562', 100.0, 1200.0, 'CC')
('Golden State Warriors', '803,436', '19,596', 100.0, 2600.0, 'GSW')
('Oklahoma City Thunder', '746,323', '18,203', 100.0, 1025.0, 'OCT')
('New York Knicks', '810,741', '19,774', 99.8, 3300.0, 'NYK')
('Boston Celtics', '760,690', '18,553', 99.6, 2200.0, 'BS')
('Los Angeles Lakers', '776,917', '18,949', 99.4, 3000.0, 'LAL')
('Portland Trail Blazers', '792,029', '19,317', 99.4, 1050.0, 'PTB')
('San Antonio Spurs', '755,347', '18,423', 99.2, 1175.0, 'SAS')
('Utah Jazz', '806,605', '19,673', 98.8, 910.0, 'UJ')
('Orlando Magic', '727,875', '17,753', 94.2, 920.0, 'OM')
('New Orleans Pelicans', '663,099', '16,173', 94.1, 750.0, 'NOP')
('Houston Rockets', '695,903', '16,973', 94.1, 1650.0, 'HR')
('Phoenix Suns', '708,639', '17,283', 93.8, 1100.0, 'PS')
('Indiana Pacers', '684,578', '16,697', 91.9, 880.0, 'IP')
('Memphis Grizzlies', '677,314', '16,519', 91.2, 790.0, 'MG')
('Charlotte Hornets', '710,643', '17,332', 90.9, 780.0, 'CH')
('Philadelphia 76ers', '710,557', '17,330', 85.3, 800.0, '76ERS')
('Atlanta Hawks', '654,306', '15,958', 85.2, 885.0, 'AH')
('Brooklyn Nets', '632,608', '15,429', 85.2, 1800.0, 'BN')
('Milwaukee Bucks', '648,952', '15,828', 84.6, 785.0, 'MB')
('Washington Wizards', '697,107', '17,002', 83.8, 1000.0, 'WW')
('Denver Nuggets', '605,585', '14,770', 77.1, 890.0, 'DN')
('Minnesota Timberwolves', '607,203', '14,809', 76.5, 770.0, 'MT')
('Detroit Pistons', '655,141', '15,979', 72.4, 900.0, 'DP')